.container{
    margin: 0px;
    padding: 0px;
}

.backgroundVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the section */
    z-index: -1; /* Sends the video behind the content */
    opacity: 1; /* Adjust transparency for a subtle background effect */
}

.boxLibrary {
    height: 150px;
    width: 100%;
    color: aliceblue;
    background-color: transparent;
    gap: 50px;

    /* Enhanced box shadow */
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.8), 
                0px 0px 30px rgba(255, 255, 255, 0.5);

    /* Responsive design */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px; /* Smooth edges */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .boxLibrary {
        height: 120px;
    }
}

@media (max-width: 480px) {
    .boxLibrary {
        height: 100px;
    }
}


.text{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 150px;
    font-family: 'Courier New', Courier, monospace;
}
.text h1{
    font-size: 3rem;
    margin-top: 20px;
    margin-bottom: 10px;
}
.text p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media (max-width: 600px){
    .text{
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}

